[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.5"
django-rest-framework = "*"
flask = "*"
flask-restful = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
